
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Sirius</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/">Início</a> 
        <a class="nav-link" href="/blockchain">O que é blockchain?</a>
        <a class="nav-link" href="/contato">Contato</a>
      </nav>
    </div>
  </header>
  </br>

    <main class="px-3">
          <h1>Actions</h1>
          <a id="bottomViewAll" class="btn btn-lg btn-secondary fw-bold border-green" style="width: 200px; align-self: center;margin-top: 10px;" href="/api/queryallcars" value="">View All</a>
          <br>
          <br>
          <a id="bottomInsert" class="btn btn-lg btn-secondary fw-bold border-green" style="width: 200px; align-self: center;margin-top: 10px; margin-bottom: 10px;" href="/api/createcar" value="">Insert</a>
    </main>

    <table>
        <thead>
            <th>Cor</th>
            <th>Tipo</th>
            <th>Distribuidora</th>
            <th>Modelo</th>   
            <th>Proprietario</th>
        </thead>
        <tbody>
            {{#each list}}
                <tr>
                    <td><p>{{this.Record.color}}</p></td>
                    <td><p>{{this.Record.docType}}</p></td>
                    <td><p>{{this.Record.make}}</p></td>
                    <td><p>{{this.Record.model}}</p></td>
                    <td><p>{{this.Record.owner}}</p></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</script>
     <footer class="mt-auto text-white-50">
      <p>© 2022 Sirius - Todos Os Direitos Reservados</p>
    </footer>
</div>






{{!-- doctype html
html
 head
  title FABCAR
 body
  h1 DETAILS OF ALL CAR
 
   a(href='/api/queryallcars')  View All Cars
   
   a(href='/api/createcar')  Insert  a new car
  ul
   each item in list
    li="CARID:  " +item["Key"]+" MAKE:  "  +item["Record"]["make"]+" MODEL:  "  + item["Record"]["model"] + " ColOuR:  "  + item["Record"]["colour"] + " OWNER:  "  +item["Record"]["owner"] --}}
